<h1>House Index</h1>

<% @houses.each do |house|%>
   <%= link_to image_tag(house.picture, size: "375x250"), house_path(house) %><br>
   <%= house.address%><br>
   Beds: <%= house.bedrooms %> |  Baths: <%= house.bathrooms %><br>
<% end%>