  <h3>Recent Offers!</h3>
<% @offers.each do |offer| %>
    Offer: $<%= number_with_delimiter(offer.amount, :delimiter => ',') %> | Agent: <%= offer.agent.full_name %>  <%= number_with_delimiter(@number, :delimiter => ',') %>
    <br>
<% end %>

